@inherits LayoutComponentBase

<div class="page">
    <div class="banner">
        <h1>Can I do your dishes? I mean it</h1>
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

